//catchall style
*
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;

body
  background-color #BA5F2E

//navigation bar styling
.navbar
  text-align right
  background-color black
  padding 12px 5px
  font-size 1.5em
  li
    display inline
    padding-right 15px
    color #BA5F2E
  li:hover
    font-weight bold
    color lighten(#BA5F2E, 20)
    cursor crosshair

//my name styling!
.titleList
  font-size 5em
  font-weight 500
  padding: 10px 0 0 20px
  .nameBold
    font-weight 900
