//catchall style
*
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;

body
  background-color #BA5F2E

//navigation bar styling
.navbar
  width 100%
  position fixed
  text-align right
  background-color black
  padding 12px 5px
  font-size 1.5em
  li
    display inline
    padding-right 15px
    color #BA5F2E
  li:hover
    cursor pointer
  a
    color #BA5F2E
    text-decoration none
  a:hover
    color lighten(#BA5F2E, 20)

//my name styling!
.titleList
  list-style-type none
  height 80vh
  font-size 5em
  font-weight 500
  padding 60px 0 0 65px
  .nameBold
    font-weight 900

//my face! ¯\_(ツ)_/¯
.face
  position absolute
  width 25%
  border-radius 50%
  right 10%
  top 18em
  z-index -1

//Projects
.ProjectsDiv
  background-color black
  padding-bottom 15px
  padding-top 15px
  h1
    font-size 2em
    color #BA5F2E
    padding-bottom 30px
    padding-left 15px

.project
  color #BA5F2E
  text-align center
  img
    width 35%
    margin-bottom 35px
    border 2px solid #BA5F2E
  h1
    font-size 1.5em
    padding-bottom 7px
  p
    padding-bottom 15px

//Contact
.contactDiv
  h1
    font-size 2em
    padding 15px 0px 15px 15px
  ul
    list-style-type none
    padding-bottom 45px
  .contact
    display inline-block
    text-align center
    width 30%
    *
      font-size 2em
      color black
      text-decoration none
      display block
      margin auto
  .contact:hover
    font-weight bold
    color lighten(#BA5F2E, 20)
    cursor pointer
    *
      font-weight bold
      color lighten(#BA5F2E, 20)
      cursor pointer

//modal
.modalImg
  display block
  margin auto
  width 100%
  margin-top 33px

.modalClose
  float right
  font-size 2em
  cursor pointer
  position fixed
  right 60px

.ReactModal__Body--open
  overflow-y hidden
