//catchall style
*
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;

body
  background-color #BA5F2E

//navigation bar styling
.navbar
  text-align right
  background-color black
  padding 12px 5px
  font-size 1.5em
  li
    display inline
    padding-right 15px
    color #BA5F2E
  li:hover
    font-weight bold
    color lighten(#BA5F2E, 20)
    cursor pointer

//my name styling!
.titleList
  height 70vh
  font-size 5em
  font-weight 500
  padding: 10px 0 0 20px
  .nameBold
    font-weight 900

//my face! UwU
.face
  position absolute
  width 350px
  border-radius 50%
  right 10%
  top 5em
  z-index -1

//Projects
.ProjectsDiv
  background-color black
  padding-bottom 15px
  padding-top 15px
  h1
    font-size 2em
    color #BA5F2E
    padding-bottom 30px
    padding-left 15px

.project
  color #BA5F2E
  text-align center
  img
    width 35%
    margin-bottom 35px
    border 2px solid #BA5F2E
  h1
    font-size 1.5em
    padding-bottom 7px
  p
    padding-bottom 15px

//Contact
.contactDiv
  h1
    font-size 2em
    padding 15px 0px 15px 15px
  ul
    list-style-type none
    padding-bottom 45px
  .contact
    padding-left 55px
    svg
      font-size 1.5em
      display inline-block
    li
      display inline-block
      font-size 1.5em
      padding-left 10px
      a
        color black
        text-decoration none
  .contact:hover
    font-weight bold
    color lighten(#BA5F2E, 20)
    cursor pointer
