* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  background-color: #ba5f2e;
}
.navbar {
  width: 100%;
  position: fixed;
  text-align: right;
  background-color: #000;
  padding: 12px 5px;
  font-size: 1.5em;
}
.navbar li {
  display: inline;
  padding-right: 15px;
  color: #ba5f2e;
}
.navbar li:hover {
  cursor: pointer;
}
.navbar a {
  color: #ba5f2e;
  text-decoration: none;
}
.navbar a:hover {
  color: #dc9772;
}
.titleList {
  list-style-type: none;
  height: 80vh;
  font-size: 5em;
  font-weight: 500;
  padding: 60px 0 0 65px;
}
.titleList .nameBold {
  font-weight: 900;
}
.face {
  position: absolute;
  width: 25%;
  border-radius: 50%;
  right: 10%;
  top: 18em;
  z-index: -1;
}
.ProjectsDiv {
  background-color: #000;
  padding-bottom: 15px;
  padding-top: 15px;
}
.ProjectsDiv h1 {
  font-size: 2em;
  color: #ba5f2e;
  padding-bottom: 30px;
  padding-left: 15px;
}
.project {
  color: #ba5f2e;
  text-align: center;
}
.project img {
  width: 35%;
  margin-bottom: 35px;
  border: 2px solid #ba5f2e;
}
.project h1 {
  font-size: 1.5em;
  padding-bottom: 7px;
}
.project p {
  padding-bottom: 15px;
}
.contactDiv h1 {
  font-size: 2em;
  padding: 15px 0px 15px 15px;
}
.contactDiv ul {
  list-style-type: none;
  padding-bottom: 45px;
}
.contactDiv .contact {
  display: inline-block;
  text-align: center;
  width: 30%;
}
.contactDiv .contact * {
  font-size: 2em;
  color: #000;
  text-decoration: none;
  display: block;
  margin: auto;
}
.contactDiv .contact:hover {
  font-weight: bold;
  color: #dc9772;
  cursor: pointer;
}
.contactDiv .contact:hover * {
  font-weight: bold;
  color: #dc9772;
  cursor: pointer;
}
.modalImg {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 33px;
}
.modalClose {
  float: right;
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  right: 60px;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
